@font-face {
  font-family: "holberton_school-icon";
  src: url("fonts/holberton_school-icon.eot?sq4eq4");
  src: url("fonts/holberton_school-icon.eot?sq4eq4#iefix")
      format("embedded-opentype"),
    url("fonts/holberton_school-icon.ttf?sq4eq4") format("truetype"),
    url("fonts/holberton_school-icon.woff?sq4eq4") format("woff"),
    url("fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "holberton_school-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-arrow_1:before {
  content: "\e900";
}
.holberton_school-icon-arrow_2:before {
  content: "\e901";
}
.holberton_school-icon-arrow_3:before {
  content: "\e902";
}
.holberton_school-icon-arrow_4:before {
  content: "\e903";
}
.holberton_school-icon-arrow_5:before {
  content: "\e904";
}
.holberton_school-icon-check:before {
  content: "\e905";
}
.holberton_school-icon-ic_bag:before {
  content: "\e906";
}
.holberton_school-icon-ic_cart:before {
  content: "\e907";
}
.holberton_school-icon-ic_facebook:before {
  content: "\e908";
}
.holberton_school-icon-ic_hearing:before {
  content: "\e909";
}
.holberton_school-icon-ic_instagram:before {
  content: "\e90a";
}
.holberton_school-icon-ic_laptop:before {
  content: "\e90b";
}
.holberton_school-icon-ic_money:before {
  content: "\e90c";
}
.holberton_school-icon-ic_music:before {
  content: "\e90d";
}
.holberton_school-icon-ic_sound:before {
  content: "\e90e";
}
.holberton_school-icon-ic_twitter:before {
  content: "\e90f";
}
.holberton_school-icon-ic_video:before {
  content: "\e910";
}
.holberton_school-icon-menu:before {
  content: "\e911";
}
.holberton_school-icon-search_1:before {
  content: "\e912";
}
.holberton_school-icon-search_2:before {
  content: "\e913";
}
.holberton_school-icon-star:before {
  content: "\e914";
}

.my-back-home-image {
  background-image: url("images/pic_1.jpg");
}

.person-name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}

.person-info {
  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}

.header-logo {
  margin-top: 50px;
  margin-left: 50px;
}

.inner {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 151px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.learn {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #c271ff;
}

.learn-two {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}

.btn-hero {
  background: #c271ff;
  border-radius: 22px;
  border-color: #c271ff;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.my-carousel-picture {
  margin-left: 300px;
}

.carousel {
  background: #c271ff;
}

.my-quote-carousel {
  margin-left: 0;
  margin-right: 100px;
}

.my-card-person-name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #c271ff;
}

.my-card-background {
  background: white;
}

.my-member-background {
  background-color: #071629;
}

.purple-membership {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #c271ff;
}

.my-membership {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  padding-bottom: 50px;
}

.my-container-member {
  padding-top: 100px;
  padding-bottom: 80px;
}

.my-member-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;

  color: #ffffff;
}

.my-member-paragraph {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.my-smile {
  color: #ffffff;
  opacity: 0.35;
  padding-top: 150px;
}

.my-col-smile-footer {
  padding-top: 80px;
}

.my-footer {
  background-color: #071629;
  height: 200px;
}

.my-go-pro {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;
}

.my-pricing-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.my-price {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 44px;
  line-height: 55px;
}

.my-sub-price {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.my-faq {
  background-color: white;
}

.faq-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
  color: #071629;
}

.my-txt-header {
  font-family: Coiny;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

.my-smile-courses {
  font-family: Coiny;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  color: #c271ff;
}

.my-back-color-hcourses {
  background-color: #c271ff;
}

.my-videos-text {
  padding-left: 70px;
  padding-top: 30px;
}
